# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop/
dist/
downloads/
eggs/
.eggs/
.venv/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv
venv/
ENV/

# Data Files (Ignored as requested)
RawData/
ProcessedData/
ModelResult/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
